
h1 {
    text-align: center; 
    background-color: #0000FF; 
    margin-top: 0; 
    padding: 10px 0; 
    color: #C0C0C0;
  }
  
  /* Estilo para las tablas */
  table {
    border-collapse: collapse; 
    margin: auto; 
  }
  
  /* Estilo para las celdas de la tabla */
  td, th {
    border: 1px solid black;
  }

  #formulario_editar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #formulario_editar input {
    display: block;
    margin: 10px 0; /* Espacio entre los inputs */
  }

  .paginador {
    display: flex;
      justify-content: center;
      align-items: center;
  }

  


  
  